* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* ye line add karo */
  text-transform: capitalize;
  font-family: 'Arial', sans-serif;

}
html, body {
  overflow-x: hidden;  /* sirf x-axis scroll hide */
}
body,head{
overflow-x: hidden;
overflow-y: hidden;

}
/* Special font for headings */

/* navvbar */

nav {
  background: rgb(228, 227, 227);
  color: #0e0d0d;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  position: relative;
  position: fixed;
  z-index: 5000;
  top: 0;

  left: 0;
}

body {
  padding-top:5%; /* same value as navbar height */
}


#logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
   font-family: 'Poppins',  ;
width: fit-content;
   display: flex;
}

.nav-links {
  list-style: none;
  display: flex;

  margin-right: 6%;
  align-items: center;
  gap: 2%;
}

.nav-item {
  position: relative;
}


.nav-item>a {
  color: #6d6a6a;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-item>a:hover {
font-weight: bold;
  color: #070707;
}
span{
font-weight: bold;
  color: #070707;

 
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #adabab;
  list-style: none;
  padding: 10px 0;
  border-radius: 6px;
  min-width: 160px;
  display: none;
  z-index: 10;
}

.dropdown li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  transition: 0.3s;
}

.dropdown li a:hover {
  background: #9e9797;
  color: #000;
}

.nav-item:hover .dropdown {
  display: block;
}

.nav-item>a .arrow {
  font-size: 0.7rem;
  transition: 0.3s;
  color: #949191;
}

.nav-item:hover>a .arrow {
  transform: rotate(180deg);
  color: #000;
  font-weight: bold;
}


.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  padding-top: 0%;
}



/* cantrol all btn and dotts */
/* Arrow Buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 5%;
  background-color: transparent;
  color: #0a0a0a;
  border: none;
  font-size: 36px;
  padding: 8px 14px;
  border-radius: 50%;
  border: 1px solid rgb(136, 133, 133);
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #f0ecec;
 backdrop-filter: blur(10px)
}


.next-btn { right: 1px; }

/* Dots (for small screens) */
.dots {
  display: none;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
}
.dot.active { background: white; }

/* Responsive */
@media (max-width: 768px) {
  .prev-btn, .next-btn { display: one; }
  .dots { display: flex; }
}
/* section1 */
#G-parent-sec-1 {
  width: 100%;
  background: rgb(238, 237, 237);
  padding: 0 6%;
 
 
}

.h1-sec-1 {
  padding-top: 4%;
  padding-bottom: 1%;
  font-size: clamp(2rem, 5vw, 5rem);
  text-align: center;
  font-weight: normal;
}
.sec1-h3{
font-weight: normal;
color: #000;
font-size: 16px;
padding-top: 3% ;
}

.sec1-p-rit{

color: #686666;
padding-top: 3% ;
font-size: 15px;
line-height: 20px;
}
.sec1-h5{
padding: 5% 0;
color: #2c2828;
 text-decoration: underline;        
  text-decoration-color: #332f2f;       
  text-underline-offset: 5px;
  font-size: 12px;


}
.p-sec1 {

  color: #4e4c4c;
  padding: 1% 27%;
  padding-bottom: 3%;
  text-align: center;
}



#parent {
  position: relative;
  width: 100%;
  height: 550px;
  display: grid;
 

  overflow: hidden;




}
.img-s1 img{

width: 100%;

height: 100%;



}


.man-img-s1  {
overflow: hidden;

  width: 100%;
}

.rit-img-s1  {
  width: 100%;
 padding-right: 10%;

  word-wrap: break-word;
}




#child-sacend-sec1 {
  /* width: 100%; */

  position: absolute;
 
  width: 3200px;
  height: 100%;
  /* margin-right: -50%; */
  gap: 2.5%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}





/* section 2 */

#parent-sec-2 {
  width: 100%;


padding: 0 6%;

}

#child-sec2 {
  width: 100%;
display: grid;
grid-template-columns: 25% 25% 25% 25%;
  padding: 3% 0;

  flex-wrap: wrap;

  width: 100%;


}

.h2 {
  color: #000;
  font-weight: normal;
  padding: 2% 0;
  font-size: 25px;
}

.p-sec2 {
  color: #929191;
  font-size: 14px;
 

}
.child1-p-sec2{
line-height: 20px;
font-size: 14px;
padding:2% 0%;

}

.ch-1-sec2 {

  text-align: center;
  width: 90%;
  height: fit-content;

padding: 4% 0;

  box-sizing: border-box;
  overflow: hidden;

  word-wrap: break-word;

  color: #797676;

  border-radius: 12px;

}


.ime-sec2 img{
width: 97%;

}
#child2-sec2 {
grid-template-columns: 33% 33% 33%;
display: grid;
  width: 100%;


 gap: 1%;

  flex-wrap: wrap;


  padding: 0px 6;
  margin-bottom: 15%;
}


i {
  color: #919090;
  padding: 10% 0%;
  font-size: 30px;
}

/* section 3 */
#G-parnt-sec3 {

  width: 100%;

  padding: 0 6%;
}

#sec3-hading{

 justify-content: space-between;
  display: flex;

}

#h1-sec3 {
  color: #030303;
  font-weight: normal;
  padding: 1.5% 0%;
font-size: clamp(1.5rem,3vw,3rem);
}
.sec3-h1{
font-size: 16px;
padding: 3% 0;

  color: #423f3f;

  font-weight: normal;
}
strong{

  color: #423f3f;

  font-weight: normal;
}
.p-se3{
  /* margin-left: 63%;
  padding-top: 2.5%; */


color: #636262;
 text-decoration: underline;        
  text-decoration-color: #646464;       
  text-underline-offset: 5px;
  padding-right: 1%;
  font-size: 14px;
  padding-top: 4%;

  
}


#parnt-sec3 {

  width: 100%;

  overflow: hidden;
  position: relative;
  margin-bottom: 10%;
}

#child-sec3 {
  display: flex;
 
  width: 3120px;
 gap: 10px;
}

.ime-sec3 img {
height: 80%;
  width: 100%;
  transition: transform 0.5s ease-in-out;

}



/* section 4 */

#parent-sec4 {
  background-color: #f0efef;
  width: 100%;
 grid-template-columns: 50% 50%;
  padding: 0 6%;
  display: grid;
  margin-bottom: 7%;

}

.sec-4-img{
width: 100%;
height: 70%;

}
#chlid1-sec4 {
  width: 100%;


}

#chlid2-sec4 {
  width: 100%;
  padding: 20% 20%;
  background-color: hsl(180, 33%, 99%);

}

.h1-sec4 {
 font-size: clamp(2rem,4vw,3rem);
  font-weight: normal;
  padding-bottom: 7%;

}

#p-sec4 {
  font-size: 14px;
  line-height: 159%;
  color: #524e4e;
  padding-bottom: 11%;
}

#btn-sec4{
width: fit-content;
background-color: #000;
padding: 7px;
color: white;
border: none;
}

/* section 5 */

#G-parnt-sec5 {
  padding: 0 6%;
  width: 100%;
  background-color: #fffdfd;
  margin-bottom: 8%;
}

#rait-sec5 {
  justify-content: space-between;
  display: flex;

}



#child-sec5 {
 width: 3120px;
 gap: 10px;
 display: flex;
   transition: transform 0.5s ease-in-out;

}


#parnt-sec5 {
  overflow: hidden;
  width: 100%;
  position: relative;

}

.ime-sec5 img{
  background-color: #fff;
  width: 100%;
height: 80%;
}
#h1-sec5{
padding: 3% 0%;
font-weight: normal;
font-size: clamp(1.5rem,4vw,2.5rem);
}
.p-h-sec5{

color: #636262;
 text-decoration: underline;        
  text-decoration-color: #646464;       
  text-underline-offset: 5px;
  padding-right: 1%;
  font-size: 14px;
  padding-top: 5%;
}

/* 
section 6 */
#parent-sec6 {
  width: 100%;
  height: 100vh;

  background-image: url(img/video-image.jpg);
  background-color: #0ef3e0;
  background-size: cover;


  background-repeat: no-repeat;
  margin-bottom: 8%;
}
#sec6-img{
margin-left: 43%;
padding-top:17%;
  width: 20%;
  color: #000;
}

/* section 7 */





/* section 8 */
#G-parnt-sec8 {
  padding: 0 6.5%;
  width: 100%;
 margin-bottom: 8%;
}

#rait-sec8 {
  justify-content: space-between;
  display: flex;
  padding-right: 1%;
    padding: 2% 0%;

}
.h1-h-sec8{
font-size: clamp(1.5rem, 4v,2.5rem);
font-weight: normal;


}
.p-h-sec8{
color: #979393;
 text-decoration: underline;        
  text-decoration-color: #afadad;       
  text-underline-offset: 5px;
  padding-right: 1%;
  font-size: 14px;
}

#child-sec8 {
  width: 3120px;
  display: flex;
  gap: 15px;
    transition: transform 0.5s ease-in-out;


}

#parnt-sec8 {
  overflow: hidden;
  width: 100%;
  position: relative;

}

.ime-sec8 img {
  background-color: #fff;
  width: 100%;
height: 80%;
}




/* section   9 */


#parnt-sec9 {
  padding: 0 7%;

  width: 100%;
margin-bottom: 6%;

}
.h1-h-sec9{
font-weight: normal;
padding: 2% 0;

}
.sec9-p1{
padding-top: 2%;
color: #696767;
font-size: 14px;
}

#child-sec9 {
  width: 100%;
display: grid;
grid-template-columns: 33% 33% 33%;
 
gap: 1%;
}
.h3-sec9{
font-size: 23px;
padding-top: 2%;

font-weight: normal;

}
.p-2-sec9{
padding: 3% 0%;
line-height: 22px;
color: #696767;
font-size: 15px;

}

.img-sec9 img {
  height: 60%;

  width: 96.5%;
}

.img-sec9 {

  background-color: #fff;
}




/* section 10 */


#parent-sec10 {
  width: 100%;

  padding: 8% 7%;
  background-color: #fcfcfd;




}

#child-sec10 {

  gap: 1.5%;
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
}


.img-sec10 img {

  width: 70%;

  height: 100%;

}

/* section 11 */

#parent-sec11 {
  width: 100%;

background-color: #e4e4e4;
}

#child-sec11 {
  width: 100%;
  text-align: center;

  padding: 5% 7%;
  width: 100%;


  background-image: url(img/pattern-bg.png);

  background-size: cover;

  object-fit: cover;
  background-repeat: no-repeat;
  margin-bottom: 8%;
}


.h1-h-sec11{
font-size: 40px;
font-weight: normal;

}
#input{
width: 50%;
 margin-top: 5%;
  padding: .8%;
  background-color:white;
  color: hsl(0, 0%, 3%);
  border: none;
}
#btn-sec11{
margin-left: 25%;
display: block;
width: 50%;
margin-top: .5%;
  text-align: center;
  padding: .8%;
  background-color: #050505;
  color: hsl(0, 9%, 98%);
  border: none;

}

/* section  12 */
#parent-sec12 {


background-color: #af1010;
  width: 100%;

margin-bottom: 5%;
}

#child-sec12 {
position: relative;

  width: 100%;
 
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;

}

.img-sec12 img {
  background: #000;
  width: 100%;
  height: 97%;
 
  /* aspect-ratio: 1/1; */
}
#btn-sec13{

  top: 75%;             /* upar se gap */
  left: 47%;     
width: 15%;
padding: 7px;
color: white;
position: absolute;
  background: rgb(7, 7, 7);
border: none;
z-index: 10;
}

/* section 13 */


#parent-sec13 {
  width: 100%;

  background-color: #a3a7a4;

}

#p-box1-sec13{
padding-top: 4%;
line-height: 25px;
color: #5c5a5a;

}


#child-sec13 {

  width: 100%;
  gap: 2%;
  background-color: #d0d4cd;
 display: grid;
grid-template-columns: 25% 25% 25% 25%;
  padding: 5% 7%;
}


.box1-sec13 {
 
  width: 90%;

}
.box-sec13 {

  width: 80%;

}
.sec13-p-bx2{
font-weight: normal;
font-size: 14px;

padding: 1.5% 0;


}
.sec-13-h3{
font-size:25px;
font-weight: normal;
color: #030303;
padding-bottom: 20px;
}

.para{
font-size: 14px;
color: #383737;
padding-bottom: 10px;

}

.pp{

font-weight: bold;
padding-bottom: 10px;

}
/* .sec13-p-bx2{


} */
